<form {{action 'editReminder' model on='submit'}}>
  <label>Title:{{input class='edit-reminder-title' value=model.title}}</label>
  <label>Date:{{input class='edit-reminder-date' value=model.date type='date'}}</label>
  <label>Notes:{{input class='edit-reminder-note' value=model.notes}}</label>
  <button class='spec-edit-save-btn'>Submit</button>
  <button {{action 'rollbackChanges' model}} class='spec-edit-destroy-btn'>Undo</button>
</form>

<p id="spec-edit-status">Do not forget to save your changes!</p>
