<div>
  <button class='spec-remove-reminder' {{action 'remove' model.id}}>X</button>
  <h3 class='spec-reminder-title'>{{model.title}}</h3>
  <h4 class='spec-reminder-date'>{{model.date}}</h4>
  <p class='spec-reminder-notes'>{{model.notes}}</p>
  {{#link-to "reminders.reminder.edit"}}
    <button class='spec-edit-reminder'>Edit</button>
  {{/link-to}}
</div>

{{outlet}}
